<div class="post-container">
  <div class="post-title">
    <h3>Log in</h3>
  </div>
  <div class="post-body">
    <form action="" id="login-form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button>Log in!</button>
      <a href="/signup">Not signed up yet?</a>
    </form>
  </div>
</div>