<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Tech News</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">DashBoard</a></li>
          {{#if loggedIn}}
            <li><a href="/" id="logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          {{/if}}
        </ul>
        <div class="main-title-container">
          <h2>The Tech Blog</h2>
        </div>
      </nav>
    </header>
    {{{body}}}
    <script src="javascript/logout.js"></script>
  </body>
</html>