<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>main</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/Home">Home</a></li>
          <li><a href="/dashboard">DashBoard</a></li>
          {{#unless logged_in}}
            <li><a href="/login">Login</a></li>
          {{/unless}}
          {{#unless is_user}}
            <li><a href="/signup">Signup</a></li>
          {{/unless}}
        </ul>
        <div class="main-title-container">
          <h2>The Tech Blog</h2>
        </div>
      </nav>
    </header>
    {{{body}}}
    <script src="/javascript/signup.js"></script>
  </body>
</html>