<div class="post-container">
  <div class="post-title">
    <h3>Edit Post</h3>
  </div>

  <div class="post-body">
    <form action="" id="edit-form" data-post-id="{{dbPostData.id}}">
      <label for="post-title">Title</label>
      <input
        type="text"
        name="post-title"
        id="edit-post-title"
        value="{{dbPostData.post_title}}"
      />
      <label for="post-body">Body</label>
      <input
        type="text"
        name="post-body"
        id="edit-post-body"
        value="{{dbPostData.post_body}}"
      />
      <button id="update-btn">Update</button>
      <button id="delete-btn">Delete</button>
    </form>
  </div>

{{#if loggedIn}}
<script src="/javascript/editPost.js"></script>
{{else}}
  <script src="/javascript/login.js"></script>
  {{/if}}
</div>