<ul>
  <li>
    <div class="post-container">
      <div class="post-title">
        <h3>Why MVC is so important</h3>
        <p>Posted by Andrew on 5/8/2010</p>
      </div>
      <div class="post-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta
          soluta, dolor earum placeat id alias ipsa fuga? Inventore mollitia nam
          ipsam atque voluptas necessitatibus praesentium, eius illum asperiores
          accusamus cumque!</p>
      </div>
    </div>
  </li>
</ul>