<div class="post-container">
  <div class="post-title">
    <h3>Sign Up</h3>
  </div>
  <div class="post-body">
    <form action="">
      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
      <button>Sign Up!</button>
      <a href="#">Login instead</a>
    </form>
  </div>
</div>