:root {
  --primary-color: #231010;
  --secondary-color: #d9ead3;
  --grey-color: #666666;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--secondary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow: auto;
}

nav {
  margin-top: 1rem;
  margin-left: 4rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.3rem;
}

nav ul li {
  color: var(--secondary-color);
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 2.5rem;
}

.main-title-container {
  width: fit-content;
  margin: 1.2rem 0;
  padding: 0.5rem 0.8rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: 5px 5px grey;
}

.post-container {
  margin: 5rem auto;
  width: 65vw;
  border: var(--primary-color) solid 4px;
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: gray;
}

.post-title h3 {
  font-size: 1.5rem;
}

.post-body {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

/* signup form styles */
label {
  display: block;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

button {
  display: block;
  background-color: gray;
  width: 100%;
  padding: 0.8rem 0;
  color: white;
  border: none;
  font-size: 1.4rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: lightgray;
  transform: translateY(5px);
}

a {
  text-decoration: none;
}
/* signup form styles end*/

.add-post-btn {
  width: 130px;
}

.post-btn-container {
  width: fit-content;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  top: 90vh;
  left: 0;
  right: 0;
  text-align: center;
}

#create-post-toggler {
  display: none;
}

.user-post-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 65vw;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--grey-color);
  color: white;
}

.user-post-container:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.no-post-container {
  margin: 2rem auto;
  width: 65vw;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.no-posts {
  font-size: 3rem;
}
